# Ansible自体の動作設定
[defaults]
inventory = ./inventory/hosts.yml
# playbookを示したsite.ymlとRoleのパスが違う為、明記。
roles_path = ./roles 
# ubuntu→samemaruに変更。
remote_user = samemaru 
private_key_file = ~/.ssh/id_ed25519
# サーバを`destroy`して再構築した際に出る「以前のサーバと鍵が違うぞ！」という警告を無視する設定。
host_key_checking = False 
interpreter_python = /usr/bin/python3
